<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.esp1415"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service android:name="it.dei.unipd.esp1415.tasks.ESPService" >
        </service>

        <activity
            android:name="it.dei.unipd.esp1415.activity.SessionListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="it.dei.unipd.esp1415.activity.SettingsActivity" >
        </activity>
        <activity
            android:name="it.dei.unipd.esp1415.activity.CurrentSessionActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="it.dei.unipd.esp1415.activity.FallDataActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="it.dei.unipd.esp1415.activity.SessionDataActivity"
            android:label="@string/app_name" >
        </activity>

        <receiver
            android:name="it.dei.unipd.esp1415.utils.AlarmReceiver"
            android:process=":remote" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="it.dei.unipd.esp1415.activity.MailingListActivity"
            android:label="@string/title_activity_mailing_list" >
        </activity>
    </application>

</manifest>